
header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
nav {
    display: inline;
    float: right;
}

a {
    color : black;
    text-decoration: none;
    margin-left: 2rem;
}

#aboutme {
    display: inline-flex;
    align-items: center;
}
.me {
    float:right;
    width: 20%;
}

.project {
    margin-bottom: 5%;
}

.skill {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
}

img {
    width: 5%;
    margin: 0 auto;
}

footer {
    text-align: center;
    margin-top: 15%;
}

@media only screen and (max-width: 700px) {
    main {
        display: flex;
        flex-direction: column;
    }
    header {
        display: block;
        text-align: center;
    }
    nav {
        float: none;
    }
    #aboutme {
        display: block;
    }
    .skill{
        display: block;
    }
    .me {
        float: none;
        margin:0 25%;
        width: 50%;
    }
    img {
        width: 50%;
        margin:0 25%;
    }
}